<!-- THIS IS A PARTIAL SO THE DOCTYPE, BODY AND SCRIPT TAGS ARE UNNECCESARY -->

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Post Content Column -->
      <div class="col-lg-8">
        <div ng-repeat="album in albumsCtrl.albums |orderBy:albumsCtrl.sortBy:albumsCtrl.reverse">
          <!-- Title -->
          <img class="albumimg" src="{{album.image}}">
          <div class="title-wrap">
          <h1>{{album.title}}</h1>
          <!-- Author -->
          <p class="lead">
            {{album.artist}}
          </p>
          <p class="lead rating">{{album.rating}}</p>
          </div>
          <hr>
          <!-- Review -->
          <div ng-repeat="par in album.review">
            <p>{{par}}</p>
          </div>
          <!-- Author -->
          <p>by: {{album.author}}</p>
        </div>
      </div>
    </div>
  </div>
