<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div ng-repeat="article in articlesCtrl.articles |orderBy:'-created_at'">
        <div class="article-head-wrap">
          <h1 class="leadtitle">{{article.header}}</h1>
          <!-- Author -->
          <p class="lead">
            {{article.subHeader}}
          </p>
          <p class="lead">{{article.subSubHeader}}</p>
        </div>
        <hr>
        <div ng-repeat="paragraph in article.articleText">
          <p>  {{paragraph}}</p>
        </div>
        <br>
        <p> by: {{article.author}}
        <p>{{article.created_at | date}}
        <br>
        </p>
        <img class="article-image" src="{{article.image}}">
        <br>
        <hr>
      </div>
    </div>
  </div>
</div>
