<!-- THIS IS A PARTIAL SO THE DOCTYPE, BODY AND SCRIPT TAGS ARE UNNECCESARY -->

<!-- THIS IS A PARTIAL SO THE DOCTYPE, BODY AND SCRIPT TAGS ARE UNNECCESARY -->

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Post Content Column -->
      <div class="col-lg-8">
        <div ng-repeat="list in listsCtrl.lists |orderBy:listsCtrl.sortBy:listsCtrl.reverse">
          <!-- Title -->
          <h1>{{list.title}}</h1>
          <!-- Author -->
          <p class="lead">
            {{list.description}}
          </p>
          <p class="lead">
            By: {{list.author}}
          </p>
          <!-- Repeated items (lists) -->
          <div ng-repeat="header in list.listHeader">
          <ol>
            <p class="lead listHead">
              {{header}}
            </p>
            <p class="lead listHead">
              {{list.listHeader2[$index]}}
            </p>
            <p class="lead listBody">
              {{list.listBody[$index]}}
            </p>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
