<!-- THIS IS A PARTIAL SO THE DOCTYPE, BODY AND SCRIPT TAGS ARE UNNECCESARY -->

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Post Content Column -->
      <div class="col-lg-8">
        <div ng-repeat="song in songsCtrl.songs |orderBy:'-created_at'">
          <!-- Title -->
            <div class="col-lg-2">
            <img class="albumimg" src="{{song.image}}">
            </div>
            <div class="col-lg-10 title-wrap">
              <h1 class="articleHead">{{song.title}}</h1>
              <!-- Author -->
              <p class="lead">
                {{song.artist}}
              </p>
              <p class="lead">
                {{song.album}}
              </p>
            </div>
          <!-- Rating -->
          <!-- Review -->
          <div ng-repeat="paragraph in song.review">
            <p class="lead">{{paragraph}}</p>
          </div>
          <h4>by: {{song.author}}</h4>
          <p>{{song.created_at | date}}</p>
        </div>
      </div>
    </div>
  </div>
